{% extends "base.html" %}
{% block title %}Rent Settings{% endblock %}

{% block content %}
<br>
<br>
<div>
    <h4>Rent Settings</h4>
    <div id="alert">
        {% if message %}
        {{ message }}
        {% endif %}
    </div>
    <br>
    <form action="{{ url_for('book.settings') }}" method="POST">
        <label for="rent">Book Rental Charges:</label>
        Rs. <input type="text" id="rent" name="rent" value="{{settings}}">
        <input type="submit" value="Update">
    </form>
</div>
<script>
	$(document).ready(function() {
setTimeout(function() {
    $('#alert').fadeOut('slow');
}, 2000); // <-- time in milliseconds
});

</script>
{% endblock %}
